.line{
    height: 4px;
    width: 80px;
}

.layer{
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: .6s opacity;
}
.layer:hover{
    opacity: 1;
}

.model__{
    z-index: 9999;
}